*.class
*.log
.idea
*.jar

src/scala_stuff/RatingsCounter/target
src/scala_stuff/RatingsCounter/project/project
src/scala_stuff/RatingsCounter/project/target


src/scala_stuff/MovieSimilarities/project/project
src/scala_stuff/MovieSimilarities/project/target
src/scala_stuff/MovieSimilarities/target

src/scala_stuff/SQL/project/project
src/scala_stuff/SQL/project/target
src/scala_stuff/SQL/target